body{
    background: #FE724C;
    margin: 0;
}

#main-div{
    background: #2f0aeb;
    width: 70%;
    height: 600px;
    margin-left: 15%;
}

#name{
    color: aquamarine;
    text-align: center;
    border: solid black 5px;
    font: 'serif';
}